body {
    background-color: white;
    font-family: 'Times New Roman', serif;
}


a {
    text-decoration: none;
    }

.work-title {
    display: block;
    position: relative;
    border: 2px solid black;
    color: black;
    font-size: 32px;
    text-align: center;
    padding: 15px;
    margin:  15px 30vw;
    width: 40vw;
    line-height: 100%;
    transition-duration: 0.5s;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
}
