body {
	background-color: #cccccc;
	position: relative;
	overflow: hidden;
	color: black;
	width: 100vw;
	height: 100vh;
	font-family: 'Times New Roman', serif;
}
* {
	user-select: none;
	-webkit-user-select: none;
}
#ue-img,
#ue-img2,
#ue-img3,
#ue-img4,
#ue-img5,
#ue-img6 {
	position: absolute;
	top: 1vh;
	height: 98vh;
	pointer-events: none;
	user-select: none;
	transform-origin: center;
}
.img-arrow {
	pointer-events: none;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	width: 60vh;
	height: 60vh;
	font-size: 40vh;
	padding: auto;
	line-height: 60vh;
	text-align: center;
	box-sizing: border-box;
	cursor: default;
	user-select: none;
	&::selection {
		background: none;
	}
}

.buttonWB {
	position: absolute;
	left: calc((50vw - 50vh) / 2);
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 20vh;
	height: 20vh;
	text-align: center;
	line-height: 10vh;
	font-size: 5vh;
	border-radius: 50%;
	cursor: pointer;
}

.changeW {
	background-color: white;
}

.changeWB {
	background: linear-gradient(90deg, white 0%, white 50%, black 50%, black 100%);
}

.displayClear {
	position: absolute;
	top: 50%;
	left: 50%;
	color: black;
	font-size: 50vh;
	-webkit-text-stroke: 3px whitesmoke;
	transform: translate(-50%, -50%);
	background-color: #66666666;
	transition: all 0.1s ease-out;
	user-select: none;
	display: none;
}

.wrap {
	font-size: 10vh;
	position: absolute;
	bottom: 82vh;
	left: 50%;
	transform: translateX(-50%);
}

#span-1 {
	color: black;
	opacity: 0;
}
#span-2 {
	color: #333;
	opacity: 0;
}
#span-3 {
	color: #666;
	opacity: 0;
}
#span-4 {
	color: #999;
	opacity: 0;
}
#span-5 {
	color: #ccc;
	opacity: 0;
}
#span-6 {
	color: white;
	opacity: 0;
}

.menu-img {
	position: absolute;
	bottom: 5vh;
	right: 5vh;
	width: 20vh;
	&:hover {
		opacity: 0.6;
	}
}

.box2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid black;
	width: 60vh;
	height: 60vh;
	font-size: 40vh;
	padding: auto;
	line-height: 60vh;
	text-align: center;
	box-sizing: border-box;
	cursor: default;
	user-select: none;
	&::selection {
		background: none;
	}
}

#box-1 {
	right: 56vw;
}

#box-2 {
	left: 56vw;
}