body {
	background-color: white;
	font-family: 'Times New Roman', serif;
}
* {
	user-select: none;
}
.main-container {
	display: flex;
	margin-bottom: 10vh;
}
.main-left {
	width: 50%;
}
a {
	text-decoration: none;
	color: blue;
}
.main-right {
	width: 50%;
	display: flex;
	flex-direction: column;
	a {
		display: block;
		margin: 12px auto 0 5%;
		color: black;
		font-size: 32px;
		text-align: center;
		padding: 17px;
		width: 85%;
		border: 1.5px solid black;
		line-height: 100%;
		transition: background-color 0.5s;
		cursor: pointer;
		&:hover {
			background-color: black;
			color: white;
		}
	}
}

.title {
	font-size: 10vw;
	width: 100%;
	text-align: center;
	margin: 50px auto;
	// &:hover {
	// 	font-size: 0;
	// 	&:before {
	// 		font-size: 10vw;
	// 		content: 'MAZE';
	// 	}
	// }
}
.caution {
	padding: 15px 20px 0 30px;
	.caution-title {
		font-size: 3vw;
		border-bottom: 1px solid black;
	}
	p {
		font-size: 2vw;
		padding: 10px;
		line-height: 150%;
	}
}
